body { 
  font: 14px sans-serif;
}
#container {width: 800px; margin: auto;}
#footer {float: bottom;}
a { 
  cursor: pointer;
  text-decoration: none;
  color: #009966;
  font: normal normal 400 14px/19.44px "WenQuanYi Zen Hei";
}
a:hover { 
  background: #009966;
  color: #FFFFFF;
  text-decoration: none;
}
#header {
}
#logo {
  float: left;
}
#navigation {
  height: 64px;
  color: #D4D4D4;
}
#navigation ul {
  float: left;
  color: #D4D4D4;
  list-style: none;
}
#navigation ul li {
  margin: 0px 30px;
  font: normal normal 400 14px/32px "WenQuanYi Zen Hei";
  display: inline;
}
#content {
  margin: 0;
}
