body{margin:0}
span{font-family: "WenQuanYi Zen Hei", "sans-serif";}
a:hover{opacity:0.8}
#main{width:280px;padding:7px 4px 7px 4px;height:120px;overflow:hidden;}
#power {float:right;width:20px;margin-top:8px;clear:both}
#power:hover{opacity:0.7}
#song_title a{white-space:nowrap;font-size:12px;color:#3B5343;display:inline-block;overflow:hidden;line-height:15px;margin-bottom:1px;text-decoration:none}
#song_artist {white-space:nowrap;font-size:15px;color:#3B5343;font-weight:bold;display:inline-block;overflow:hidden;width:238px;line-height:18px}
#display{margin-top:5px;width:240px;}
#loaded{height:3px;background-color:#E9F4E9;width:240px;opacity:0.8;margin-top:2px}
#played{height:3px;background-color:#3B5343;width:0px;opacity:0.8}
#timer{margin-top:3px;font-size:10px;color:#777;float:right;display:block;vertical-align:middle;line-height:13px}
#switcher{width:20px;float:right;margin-top:4px;clear:both}
#switcher:hover{opacity:0.7}
#wrapper{height:40px;margin-top:20px;width:280px}
#pause {float:right;width:20px;height:18px;clear:both}
#pause:hover{opacity:0.7}
#operation{width:120px;float:left}
.button {margin-right:7px;cursor:pointer;width:20px;height:20px}
.button:hover{opacity:0.7}
.clear{clear:both}
#channel_popup{background-color:#fff;height:100%;width:100%;overflow-x:auto;overflow-y:scroll;position:absolute;z-index:999;left:0;top:0;padding:0px;opacity:0.95;display:none}
#channels{list-style-type:none;list-style-position:outside;padding:0;text-align:center;margin-top:10px}
#channels li{background-color:#fafafa;opacity:0.95;margin-bottom:5px;width:100px;margin-left:15px;float:left;color:#3B5343}
#channels li:hover{cursor:pointer;background-color:#3B5343;color:#fff}
#channels .channel_selected{background-color:#3B5345;color:#fff}
#close_c{position:fixed;right:15px;top:5px;width:15px;opacity:0.5}
#close_c:hover{opacity:1.0}
#share_wrap img{float:right;width:16px;height:16px;opacity:0.3;margin-right:5px;margin-top:4px}
#share_wrap img:hover{opacity:1.0}
.lyric_button{width:20px;height:15px;}
.lyric_button:hover{opacity:0.8}
#notify{width:80px;height:30px;background-color:#3B5343;opacity:0.8;position:absolute;z-index:10000;left:0;top:0}
#notify span{color:#fff;margin-left:7px;margin-top:5px;display:block}
#volume img{vertical-align:middle;float:left}
#range{width:50px;height:4px;}
#volume_bar{width:25px;height:4px;background-color:#3B5343;top:68px;left:19px;border-radius:2px;z-index:-1;position:absolute;}
#volume{margin-top:5px;width:150px;float:left}
 .channel-tab {
    list-style: none;
    display: block;
    overflow: auto;
    padding: 0px;
    margin: 0px;
  }
  .on {
    background-color: #eeeff3;
  }
  .channel-tab li {
    display: list-item;
    float: left;
    margin: 0 5px 0 0;
    padding: 2px 8px;
    color: #565656;
    border-top: 1px solid #a6a6a6;
    border-left: 1px solid #a6a6a6;
    border-right: 1px solid #a6a6a6;
    border-top-left-radius:     0.5em 0.5em;
    border-top-right-radius:    0.5em 0.5em;
    background-image: url("img/unrated.png");
    repeat: no-repeat;
    background-position: right;
  }
  .channel-box {
    padding: 5px 10px;
    background-color: #eeeff3;
  }
  #channel_box li {
    background-image: url("img/unrated.png");
    repeat: no-repeat;
    background-position: right;
  }
  #channel_douban li {
    width: 150px;
    background: url(img/unrated.png) no-repeat right top;
  }
  #channel_dj a {
    background: url(img/unrated.png) no-repeat right top;
  }
  .rate-channel {
    float: right;
    height: 20px;
    background: url("../img/unrated.png") no-repeat right top;
    z-index: 9999;
  }
  .unrate-channel {
    float: right;
    height: 20px;
    background: url("../img/rated.png") no-repeat right top;
    z-index: 9999;
  }
  .del-recent-channel {
    float: right;
    height: 20px;
    background: url("../img/rated.png") no-repeat right top;
    z-index: 9999;
  }

