<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" version="0.1" id="http://github.com/rnons/doubanfm">
	<name>Douban FM</name>
	<description>A Customized Douban FM</description>
	<icon src="img/icon_128.png"/>
  <author href="http://github.com/rnons" email="remotenonsense@gmail.com">rnons</author>
	<feature name="opera:share-cookies" required="true"/>
	<access origin="http://douban.fm"/>
</widget>
